*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

.upper-container{
    width: 50%;
    height: 10%;
    margin: 50px auto;
    position: relative;
}

.upper-container1 {
    width: 35%;
    height: 100%;
    padding-top: 10px;
}

#tasks {
    font-weight: bold;
    font-size: 2.5rem;
    

}
#lists {
    
    font-size: 2.5rem;
    padding-left: 10px;
    opacity: 0.5;
}
.upper-container2 {
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
}

#addlist {
    font-size: 30px;
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0.5;
    padding-top:10px;

}

#circle {
    padding-top:10px;
}

.parent-container {

    margin-top: 10px;
    display:flex;
    justify-content: space-evenly;
}

.card1 {
  /*  margin-top: 10px; */
    position: relative;
    width :15%;
    height: 45vh;
    border:1.5px solid green;
    border-radius: 8px;
    box-shadow: 5px 5px 10px grey;
 /*   margin:auto;*/

}

.div1 {
    position: absolute;
    top:10%;
    right:0;
    font-size: 25px;
    width:85%;
    text-align: left;
    height:15%;
    color:darkred;
    border-bottom:1px solid black;
}

.div2 {
    position: absolute;
    top:35%;
  /*  right:0;*/
    font-size: 20px;
    width:90%;
    text-align: right;
    height:10%;
    color:red;
    font-weight: bold;
    text-decoration: line-through;
}

.div3 {
    width: 90%;
    height:10%;
    position: absolute;
    top:52%;
    left:0;
    font-size: 20px;

}

#check {
    width:20px;
    height:20px;
    margin-left: 10px;
}
.blur {
    filter:blur(6px)
}

.pop-up {
   position:absolute; 
    width: 27%;
    height:25vh;
    left:37%;
    top: 30%;
    background-color: white;
    border:1.5px solid red;
    box-shadow: 3px 3px 10px grey;
    border-radius: 10px;
    color: red;
    font-size: 18px;
}
.add-new {
    margin-top: 25px;
    opacity:0.7;  /* no use of it but used*/
    text-align: center;
    font-size:17px;
    
}
.pop-upbar {
    position: absolute;
    margin-top:20px;
    border-radius: 4px;
    text-align: center;
    width:70%;
    height:20%;
    border:1.5px solid red;
    box-shadow: 1px 1px 3px grey;
    left: 15%;
   /* display: block;*/
}

.but {
    width: 20%;
    height:20%;
    margin-top: 18px;
    color : white;
    background-color: red;
    border-radius: 20px;
    border:none;
    font-size: 20px;
    
  /*  display: block;*/
  margin-top: 70px;
  margin-left:140px;
 
 /* text-align: center;*/
}


@media (max-width: 1000px) {
    .upper-container{
        width: 100%;
        height: 10%;
        margin: 50px auto;
        position: relative;
    }
    
    .upper-container1 {
        width: 100%;
        height: 100%;
        padding-top: 10px;
    }
    #tasks {
        position: absolute;
        left:10px;
        font-weight: bold;
        font-size: 7.5rem;
        
    
    }
    #lists {
        font-size: 7.5rem;
        padding-left: 380px;
        opacity: 0.5;
    }
    .upper-container2 {
        width: 30%;
        height: 100%;
        position: absolute;
        top: 0px;
        right: 0px;
    }
    #addlist {
        display: none;
        font-size: 30px;
        width: 80%;
        height: 100%;
        position: absolute;
        top: 0px;
        right: 0px;
        opacity: 0.5;
        padding-top:10px;
    
    }
    
    #circle {
        position: absolute;
        right:50px;
        padding-top:10px;
    }
   
    .parent-container {

        margin-top: 10px;
        display:flex;
        flex-wrap: wrap;
       /* justify-content: space-between;*/
    }
    
    .card1 {
        margin-top: 50px; 
        position: relative;
        width :80%;
        height: 10vh;
        border:1.5px solid red;
        border-radius: 30px;
        box-shadow: 5px 5px 10px grey;
      /*  margin:auto; */
    
    }
    
    .div1 {
        position: absolute;
        top:50px;
        right:-50px;
        font-size: 70px;
        width:100%;
        text-align: left;
        height:15%;
        color:darkred;
        border-bottom:0px solid black;
        
    }
    
    .div2 {
        display: none;
        position: absolute;
        top:35%;
      /*  right:0;*/
        font-size: 20px;
        width:90%;
        text-align: right;
        height:10%;
        color:red;
        font-weight: bold;
        text-decoration: line-through;
    }
    
    .div3 {
        display:none;
        width: 90%;
        height:10%;
        position: absolute;
        top:52%;
        left:0;
        font-size: 20px;
    
    }
    
    #check {
        width:20px;
        height:20px;
        margin-left: 10px;
    }
    .blur {
        filter:blur(30px)
    }
    .pop-up {
          /*position:absolute;*/
          position:static;
          width: 80%;
          height:20vh;
          margin-left:10%;
          margin-top: -125%;
          background-color: white;
          border:1.5px solid red;
          box-shadow: 3px 3px 10px grey;
          border-radius: 10px;
          color: red;
          font-size: 18px;
          border-radius: 50px;
  
      }
      .add-new {
          margin-top: 50px;
          opacity:0.7;  /* no use of it but used*/
          text-align: center;
          font-size:60px;
          
      }
      .pop-upbar {
          position: absolute;
          margin-top:45px;
          margin-left: 10%;
          border-radius: 4px;
          text-align: center;
          width:50%;
          height:4%;
          border:1.5px solid red;
          box-shadow: 1px 1px 3px grey;
          left: 15%;
         /* display: block;*/
      }
      
      .but {
          width: 30%;
          height:20%;
     /*     margin-top: 18px;*/
          background-color: red;
          border-radius: 50px;
          border:none;
          font-size: 50px;
          
          
        /*  display: block;*/
        margin-top: 200px;
        margin-left:280px;
       
       /* text-align: center;*/
      }
  
  }